.nav-bar{
    
    display: flex;
    align-items: center;
    background-color: #21222A;
}

.logo-icon{
   height: 70px;
   margin: 0;
   padding-left: 6px;
}

.nav-title{
    color: 
    #61DAFB;
    margin: 0;
    padding-bottom: 0;
    padding-top: 5px;
}

.project-info{
    padding-top: 5px;
    color: white;
    padding-left: 90px;
    font-size: 20px;
}